.para-style{
    font-size: 40px;
    color: blue;
    font-style: italic;
}

.my-styles{
    font-family: 40px;
    font-style: italic;
    color: blue;
}

button{
    width: 100px;
    height: 100px;
    margin: 20px;
}
.animation{
    box-shadow: 0 15px 18px 0 tomato;
    opacity: 0.5;
}

div{
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    font-size: 20px;
    color: red;
}